<div class="banner">
  <h1><strong>Watch list</strong></h1>
</div>
<%= link_to "New list", new_list_path, class:"btn btn-flat" %></a>
<div class="list-container cuadricula">
  <% @lists.each do |list| %>
    <%= link_to list_path(list.id) do  %>
      <div class="list-individually">
        <p><%= list.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%= render "components/footer" %>
