.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-top: 15px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
.btn-new-movie {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #d8bf31;
  transition: background 0.3s ease;
  margin-top: 15px;
}

.btn-new-movie:hover {
  background: #1BCB7F;
  color: white;
}
